name: CI
on:
  pull_request:
jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v6
    - name: Set up JDK 17
      uses: actions/setup-java@v5
      with:
        java-version: '17'
        distribution: 'zulu'
        cache: sbt
    - name: Install sbt
      uses: sbt/setup-sbt@v1
    - name: Setup Graphviz
      uses: ts-graphviz/setup-graphviz@v2
    - name: sbt 1.x (Scala 2.12)
      run: sbt test 
    - name: sbt 2.x (Scala 3.7)
      run: sbt "++ 3; test"
